* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
}

.sectionLogin{
    background-color: rgb(148, 147, 147);
    width: 400px;
    height: 400px;
    margin:25vh auto;
    border-radius: 9px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color: #FFFFFF;
    box-shadow: 0 10px 25px rgba(106, 114, 119, 0.7);
}


.loginTitle{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 25px;
}

.formGroup{
    text-align:left;
    margin-left: 25px;
    margin-right: 25px;
    display:flex;
    flex-direction:column;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
}

.formGroup > input{
    margin-top: 5px;
    height: 40px;
    border-radius: 2px;
    border:none;
    padding:5px;
}

.loginBtn{
    font-family: 'Open Sans', sans-serif;
    width: 100px;
    height: 40px;
    border:none;
    border-radius: 8px;
    color:#FFFFFF;
    padding-top: 10px;
    background-color: #7598b8;
    cursor: pointer;
}

.loginBtn:hover{
    background-color: #4c7aa5;
}
.btnContainer{
    display: flex;
    justify-content: center;
}
.separador{
    padding:10px;
}
.registerBtn{
    margin: auto;
}




@media (max-width:600px){
    .sectionLogin{
        background-color: rgb(217, 209, 209);
        width: 80vw;
        height: 50vh;
        text-align:center;
        display:flex;
        flex-direction:column;
        justify-content:center;
        color: rgb(124, 118, 118);   
        box-shadow:none;
        margin:20vh auto;
    }
    .btnContainer{
        margin-top: 5vh;
    }
    .formGroup{
        text-align:left;
        margin-left: 25px;
        margin-right: 25px;
        display:flex;
        flex-direction:column;
        margin-bottom: 25px;
        font-family: 'Open Sans', sans-serif;
    }
    
    .formGroup > input{
        margin-top: 5px;
        height: 40px;
        border-radius: 2px;
        border:none;
        padding:5px;
    }
    
    .loginBtn{
        font-family: 'Open Sans', sans-serif;
        width: 100px;
        height: 40px;
        border:none;
        border-radius: 8px;
        background-color: #4c7aa5;
        color:#FFFFFF;
        padding-top: 10px;
        cursor: pointer;
    }
    
    
    .loginBtn:hover{
        background-color: #7598b8;
    }
  
}

@media (max-width:350px){
    .loginBtn{
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        width: 50px;
        height: 30px;
        border:none;
        border-radius: 8px;
        background-color: #4c7aa5;
        color:#FFFFFF;
        cursor: pointer;
    }
}